html {
  font-family: "IBM Plex Sans", sans-serif;
}

form {
  background-color: #ddd;
}

.logo {
  width: 57%;
}

.icon {
  position: relative;
  height: 20px;
  bottom: 23px;
  left: 2px;
}

section {
  background-color: #efefef;
}

.light-grey {
  background-color: #fff;
}

tr {
  width: 200px;
}

th {
  padding: 0;
}
